/* Light Theme */
.light-theme .skills-container, .light-theme .projects-container, .light-theme .footer-container {
    background-color: #f9fafb;
}

/* Dark Theme */
.dark-theme .skills-container, .dark-theme .projects-container, .dark-theme .footer-container {
    background-color: #111827;
}

.skills-container, .projects-container, .footer-container {
    position: relative;
    box-shadow: 0 -10px 20px -10px rgba(0, 0, 0, 0.5);
}
