@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url('/src/assets/images/cursor.png'), auto;
}

.nav-link {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #FFA500; /* Orange */
  font-weight: bold;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -8px; /* Increased space */
  left: 0;
  width: 100%;
  height: 4px; /* Bolder underline */
  background-color: #FFA500; /* Orange */
  box-shadow: 0 0 10px #FFA500, 0 0 20px #FFA500, 0 0 40px #FFA500;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: translateX(0);
}
